# Default values for xnat.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  postgresql:
    auth:
      username: ""
      database: ""
      existingSecret: ""
      secretKeys:
        adminPasswordKey: ""
        userPasswordKey: ""
        replicationPasswordKey: ""
  # A value of '-' indicates the default storage class should be used.
  storageClassName: "-"

# Set to false when using an external database, configure either postgresqlExternalName or postgresqlExternalIPs
# WARNING: Only change this post deployment if you know what you are doing
postgresql:
  enabled: true
  image:
    tag: latest
  auth:
    existingSecret: ""
    secretKeys:
      databaseKey: ""
      hostKey: ""
      userPasswordKey: password
      portKey: ""
      usernameKey: ""
    database: "xnat_web"
    host: ""
    password: ""
    username: "xnat_web"
# Example CloudNativePG configuration
# auth:
#   existingSecret: example-xnat-app
#   secretKeys:
#     databaseKey: dbname
#     hostKey: host
#     userPasswordKey: password
#     portKey: port
#     usernameKey: username
  primary:
    resources:
      requests:
        cpu: 500m
        memory: 512Mi
      limits:
        cpu: 1000m
        memory: 1024Mi

# DEPRECATED
# External Database service endpoint, ensure `postgresql.enabled: false`
# postgresqlExternalName: ""
# postgresqlExternalIPs: []
#  - 130.95.126.8

xnat-web:
  enabled: true

  replicaCount: 1

  image:
    repository: ghcr.io/australian-imaging-service/xnat
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  imagePullSecrets: []
  nameOverride: "xnat-web"
  fullnameOverride: ""

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""

  podAnnotations: {}

  podSecurityContext:
    runAsUser: 65534
    runAsGroup: 65534
    fsGroup: 65534

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true

  service:
    port: 80
    type: ClusterIP

  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/tls-acme: "true"
      # nginx.ingress.kubernetes.io/whitelist-source-range: "130.95.0.0/16"
      # nginx.ingress.kubernetes.io/proxy-connect-timeout: "150"
      # nginx.ingress.kubernetes.io/proxy-send-timeout: "100"
      # nginx.ingress.kubernetes.io/proxy-read-timeout: "100"
      # nginx.ingress.kubernetes.io/proxy-buffers-number: "4"
      # nginx.ingress.kubernetes.io/proxy-buffer-size: "32k"
    # ingressClassName: nginx
    hosts:
      - host: "chart-example.local"
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  gateway:
    enabled: false
    annotations: {}
    service: {}
    #   annotations: {}
    #   labels: {}
    hosts:
    - chart-example.local
    tls: {}
      # hosts:
      #   - host: chart-example.local
      #     secretName: chart-example-tls

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'
    # requests:
    #   cpu: 2
    #   memory: 4000Mi
    # limits:
    #   cpu: 4
    #   memory: 4000Mi

  # nonheapmem can be manually set here. It's recommended to be set at 40-50% of the request/limit memory for XNAT
  # When it's empty, it uses the default configuration in XNAT image
  nonheapmem: ""

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  nodeSelector:
    kubernetes.io/os: linux

  tolerations: []

  affinity: {}

  fileStorePath: /data/xnat
  archivePath: &archive_path /data/xnat/archive
  buildPath: /data/xnat/build
  cachePath: &cache_path /data/xnat/cache
  inboxPath: /data/xnat/inbox
  pipelinePath: /data/xnat/pipeline
  prearchivePath: &prearchive_path /data/xnat/prearchive
  triagePath: /data/xnat/triage

  persistence:
    cache:
      accessMode: ReadWriteOnce
      mountPath: *cache_path
      # storageClass: ""
      size: 10Gi

  volumes:
    archive:
      accessMode: ReadWriteMany
      existingClaim: ""
      mountPath: *archive_path
      # storageClass: ""
      size: 1Ti
    prearchive:
      accessMode: ReadWriteMany
      existingClaim: ""
      mountPath: *prearchive_path
      # storageClass: ""
      size: 1Ti

  pluginSecrets: []
  #  - existingSecret: ""
  #    secretKeys:
  #      - name: ""
  #        key: ""

  plugins: {}
  #  container-service: []
  #   Uncomment OHIF viewer line below for XNAT 1.8.2 and higher
  #  ohif-viewer: {}
  #  ldap-auth-plugin:
  #  - name: "Institution Active Directory"
  #    provider:
  #      id: ldap1
  #    auth:
  #      method: ldap
  #    auto:
  #      enabled: false
  #      verified: false
  #    visible: true
  #    address: ""
  #    userdn: ""
  #    password: ""
  #    search:
  #      base: ""
  #      filter: "(sAMAccountName={0})"
  #  openid-auth-plugin:
  #  - name: "OpenID Authentication Provider"
  #    provider:
  #      id: openid
  #    auth:
  #      method: openid
  #    auto:
  #      enabled: false
  #      verified: false
  #    visible: true
  #    # https://github.com/NrgXnat/xnat-openid-auth-plugin
  #    disableUsernamePasswordLogin: true
  #    enabled: "aaf,google"
  #    preEstablishedRedirUri: "/openid-login"
  #    siteUrl: ""
  #    type: openid
  #    # List of providers that appear on the login page
  #    openid:
  #      aaf:
  #        # https://support.aaf.edu.au/support/solutions/articles/19000096640-openid-connect-
  #        accessTokenUri: https://central.aaf.edu.au/providers/op/token
  #        userAuthUri: https://central.aaf.edu.au/providers/op/authorize
  #        #accessTokenUri: https://central.test.aaf.edu.au/providers/op/token
  #        #userAuthUri: https://central.test.aaf.edu.au/providers/op/authorize
  #        clientId: ""
  #        clientSecret: ""
  #        scopes: "openid,profile,email"
  #        link: '<p>To sign-in using your AAF credentials, please click on the button below.</p><p><a href="/openid-login?providerId=aaf"><img src="/images/aaf_service_223x54.png" /></a></p>'
  #        # Flag that sets if we should be checking email domains
  #        # Domains below are the only ones allowed to login, empty array allows ALL domains
  #        shouldFilterEmailDomains: false
  #        allowedEmailDomains: ""
  #        # Flag to force the user creation process, normally this should be set to true
  #        forceUserCreate: true
  #        # Flag to set the enabled property of new users, set to false to allow admins to manually enable users before allowing logins, set to true to allow access right away
  #        userAutoEnabled: false
  #        # Flag to set the verified property of new users
  #        userAutoVerified: false
  #        # Property names to use when creating users
  #        emailProperty: email
  #        givenNameProperty: name
  #        familyNameProperty: deliberately_unknown_property
  #      google:
  #        accessTokenUri: https://www.googleapis.com/oauth2/v3/token
  #        userAuthUri: https://accounts.google.com/o/oauth2/auth
  #        clientId: ""
  #        clientSecret: ""
  #        scopes: "openid,profile,email"
  #        link: '<p>To sign-in using your Google credentials, please click on the button below.</p></p><p><a href="/openid-login?providerId=google"> <img src="/images/btn_google_signin_dark_normal_web.png" /> </a></p>'
  #        # Flag that sets if we should be checking email domains
  #        shouldFilterEmailDomains: false
  #        # Domains below are allowed to login, only checked when 'shouldFilterEmailDomains' is true
  #        allowedEmailDomains: ""
  #        # Flag to force the user creation process, normally this should be set to true
  #        forceUserCreate: true
  #        # Flag to set the enabled property of new users, set to false to allow admins to manually enable users before allowing logins, set to true to allow access right away
  #        userAutoEnabled: false
  #        # Flag to set the verified property of new users
  #        userAutoVerified: false
  #        # Property names to use when creating users
  #        emailProperty: email
  #        givenNameProperty: given_name
  #        familyNameProperty: family_name

  # https://wiki.xnat.org/documentation/xnat-administration/connecting-xnat-to-dicom-scanners-and-pacs
  # DICOM C-STORE Service Class Provider (SCP)
  # DICOM Application Entity (AE)
  dicom_scp:
    serviceType: "NodePort"
    annotations: {}
    #  metallb.universe.tf/address-pool: production-public-ips
    #  metallb.universe.tf/allow-shared-ip: true
    recievers:
      - ae_title: "XNAT"
        port: 8104
        # nodePort: 32514
        # loadBalancerIp: "130.95.27.91"

  probes:
    startup:
      httpGet:
        path: /app/template/Login.vm#!
        port: http
      # adjust below values to suit the startup time. Below startup time is 15*10=150s
      failureThreshold: 60
      periodSeconds: 10
    liveness:
      httpGet:
        path: /app/template/Login.vm#!
        port: http
      failureThreshold: 1
      periodSeconds: 10
      timeoutSeconds: 5
    readiness:
      httpGet:
        path: /app/template/Login.vm#!
        port: http
      failureThreshold: 1
      periodSeconds: 10
      timeoutSeconds: 3

  timezone: "UTC"
