apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "xnat-web.fullname" . }}
  labels:
    {{- include "xnat-web.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "xnat-web.statefulsetLabels" . | nindent 6 }}
  serviceName: {{ include "xnat-web.fullname" . }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      labels:
        {{- include "xnat-web.statefulsetLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "xnat-web.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- $request := trimSuffix "Mi" .Values.resources.requests.memory }}
          {{- $nonheap := trimSuffix "Mi" .Values.nonheapmem }}
          env:
            - name: CATALINA_OPTS
              value: -Xms{{ sub $request $nonheap }}m -Xmx{{ sub $request $nonheap }}m -Dxnat.home=/data/xnat/home
            - name: timezone
              value: {{ .Values.timezone }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /app/template/Login.vm#!
              port: http
            failureThreshold: {{ .Values.probes.liveness.failureThreshold }}
            periodSeconds: {{ .Values.probes.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.liveness.timeoutSeconds }}
          readinessProbe:
            httpGet:
              path: /app/template/Login.vm#!
              port: http
            failureThreshold: {{ .Values.probes.readiness.failureThreshold }}
            periodSeconds: {{ .Values.probes.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.readiness.timeoutSeconds }}
          startupProbe:
            httpGet:
              path: /app/template/Login.vm#!
              port: http
            failureThreshold: {{ .Values.probes.startup.failureThreshold }}
            periodSeconds: {{ .Values.probes.startup.periodSeconds }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: passwd
              mountPath: /etc/passwd
              readOnly: true
              subPath: passwd
            - name: tomcat
              mountPath: /usr/local/tomcat
            - name: conf-catalina
              mountPath: /usr/local/tomcat/conf/Catalina
            - name: xnat-home
              mountPath: /data/xnat/home
            - name: home-plugins
              mountPath: /data/xnat/home/plugins
            - name: xnat-config
              mountPath: "/data/xnat/home/config/xnat-conf.properties"
              readOnly: true
              subPath: "xnat-conf.properties"
            {{- range $plugin, $p := .Values.plugins }}
            {{- range $p }}
            {{- if .auth }}
            - name: auth-{{ .provider.id }}
              mountPath: /data/xnat/home/config/auth/{{ .provider.id }}-provider.properties
              readOnly: true
              subPath: {{ .provider.id }}-provider.properties
            {{- end }}
            {{- end }}
            {{- end }}
            {{- range $name, $c := .Values.persistence }}
            {{- if $c.size }}
            - mountPath: {{ $c.mountPath | quote }}
              name: {{ $name | quote }}
            {{- end }}
            {{- end }}
            {{- range $name, $c := .Values.volumes }}
            {{- if $c.size }}
            - mountPath: {{ $c.mountPath | quote }}
              name: {{ $name | quote }}
              {{- if $c.mountPropagation }}
              mountPropagation: {{$c.mountPropagation|default "None"|quote}}
              {{- end }}
            {{- end }}
            {{- end }}
      initContainers:
        - name: home-init
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - 'bash'
            - '-c'
            - |
              set -x
              shopt -s extglob
              plugins=( {{ join " " (keys .Values.plugins) }} )
              # Copy Tomcat folder
              [ -d /TOMCAT ] && cp -r --preserve=mode,timestamps /usr/local/tomcat/* /TOMCAT
              chown -R {{ default "1000" .Values.securityContext.runAsUser }} /TOMCAT
              # Copy XNAT_HOME directory excluding the plugins folder
              cp -r --preserve=mode,timestamps ${XNAT_HOME}/!(plugins) /XNAT_HOME
              chown -R {{ default "1000" .Values.securityContext.runAsUser }} /XNAT_HOME
              # Copy plugins that are configured in values.yml
              for plugin in ${plugins[@]}; do
                cp -r --preserve=mode,timestamps ${XNAT_HOME}/plugins/${plugin}-* /HOME-PLUGINS || true
              done
          volumeMounts:
            - name: tomcat
              mountPath: /TOMCAT
            - name: xnat-home
              mountPath: /XNAT_HOME
            - name: home-plugins
              mountPath: /HOME-PLUGINS
      volumes:
        - name: passwd
          configMap:
            name: {{ include "xnat-web.fullname" . }}
            items:
              - key: passwd
                path: passwd
        - name: tomcat
          emptyDir: {}
        # SEVERE: Unable to create directory for deployment: [/usr/local/tomcat/conf/Catalina/localhost]
        - name: conf-catalina
          emptyDir: {}
        - name: xnat-home
          emptyDir: {}
        - name: home-plugins
          emptyDir: {}
        {{- range $plugin, $p := .Values.plugins }}
        {{- range $p }}
        {{- if .auth }}
        - name: auth-{{ .provider.id }}
          secret:
            secretName: {{ include "xnat-web.fullname" $ }}-plugin-{{ $plugin }}
            items:
              - key: {{ .provider.id }}-provider.properties
                path: {{ .provider.id }}-provider.properties
        {{- end }}
        {{- end }}
        {{- end }}
        - name: xnat-config
          secret:
            secretName: {{ include "xnat-web.fullname" . }}
        {{- $context := . -}}
        {{- range $name, $c := .Values.volumes }}
        {{- if $c.size }}
        - name: {{ $name }}
          persistentVolumeClaim:
            claimName: {{ $c.existingClaim | default (printf "%s-%s" (include "xnat-web.fullname" $context) $name) }}
        {{- end }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  volumeClaimTemplates:
    {{- range $name, $c := .Values.persistence }}
    {{- if not $c.existingClaim }}
    {{- if $c.size }}
    - metadata:
        name: {{ $name | quote }}
      spec:
        accessModes: [ {{ $c.accessMode | quote }} ]
        {{- if (or $c.storageClass $.Values.global.storageClass) }}
        storageClassName: {{ $c.storageClass | default $.Values.global.storageClass | quote }}
        {{- end }}
        volumeMode: Filesystem
        resources:
          requests:
            storage: {{ $c.size }}
    {{- end }}
    {{- end }}
    {{- end }}
